<h1>Create a New Student Listing</h1>

<%= form_tag '/students', method: :post do %>
	<div>
	  <%= label_tag :first_name %>
	  <%= text_field_tag :first_name %>
	</div>
	<div>
	  <%= label_tag :last_name %>
	  <%= text_field_tag :last_name %>
	</div>
	<div>
	  <%= label_tag :email %>
	  <%= text_field_tag :email %>
	</div>
	<div>
	  <%= label_tag :phone %>
	  <%= text_field_tag :phone %>
	</div>
	<div>
	  <%= label_tag :short_bio %>
	  <%= text_field_tag :short_bio %>
	</div>
	<div>
	  <%= label_tag :linkedin %>
	  <%= text_field_tag :linkedin %>
	</div>
	<div>
	  <%= label_tag :twitter %>
	  <%= text_field_tag :twitter %>
	</div>
	<div>
	  <%= label_tag :blog %>
	  <%= text_field_tag :blog %>
	</div>
	<div>
	  <%= label_tag :online_resume %>
	  <%= text_field_tag :online_resume %>
	</div>
	<div>
	  <%= label_tag :github %>
	  <%= text_field_tag :github %>
	</div>
	<div>
	  <%= label_tag :photo %>
	  <%= text_field_tag :photo %>
	</div>
	<br>
	<div>
	  <%= submit_tag 'Create' %>
	</div>
<% end %>