<h2>Name: <%= @student.first_name %> <%= @student.last_name %></h2>
<h4>Email: <%= @student.email %></h4>
<h4>Phone: <%= @student.phone %></h4>
<h3>Bio: <%= @student.short_bio %></h3>
<h4>LinkedIn: <%= @student.linkedin %></h4>
<h4>Twitter: <%= @student.twitter %></h4>
<h4>Blog: <%= @student.blog %></h4>
<h4>Resume: <%= @student.online_resume %></h4>
<h4>Github: <%= @student.github %></h4>
<img src=<%= @student.photo %>>

<%= link_to 'Delete', "/students/#{@student.id}", method: :delete %>