<% @educations.each do |education| %>
<div>
  <h2><%= education.id  %></h2>
  <h2><%= education.start_date  %></h2>
  <h2><%= education.end_date  %></h2>
<h2><%= education.degree  %></h2>
<h2><%= education.university_name  %></h2>
<h2><%= education.details  %></h2>
</div>
<br>
<% end %>